

/*CSS Reset / Normalize*/
/*@import url("reset.css");*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
    --cor-de-texto:#2A7AE4 ;
    --cor-de-extra:gray;
    --cor-de-sobremim:#EAF2FD;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-link);
    overflow-x: hidden;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.skills__box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
              
}


.menu{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    }
/* estrellitas y nombre*/
.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    flex-wrap: wrap;

}  
/* sobre mí_skills_hobbies_formación_proyectos_Contacto */
.menu__list{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    align-items: center;
    margin-top: 1.5rem;
    flex-grow: 1;
    padding: auto;
    
}
.menu__list__item__contato{
    visibility: hidden

} 
    
/*Sección Title*/

section.title{
}
.title{
    display:flex;
    flex-wrap:wrap;
    
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: auto;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 10px;
    align-items: center;
}

/*mifoto*/
.title__profile{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 15%;
    text-align: center;
    border-radius: 20px;
}

/* Hola, mi nombre es Ron*/
.title__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
    gap:20%;
}
.title__bio{
    font-size: 30px    
}
.title__subsection{
    margin-top: 1rem;
    font-size: 20px;
    color: var(--cor-de-texto);
    flex-shrink: 1;
}
/* Github, link, Inst, CV */
.title__network{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/*Sección About*/

section.about{

}
/*este bloque incluye mi firma */

.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 4rem 2rem 4rem;
    background-color: var(--cor-de-sobremim);
    color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
/*sobre mí*/
}
.about__title{
    align-self: center;
    font-size: 30px;
    color: var(--cor-de-link);
    margin-bottom: 2%;
    
}

.about__paragraph{
    display:flex
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    color: var(--cor-de-link);
    gap: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;    
}


/*Sección Hobbies & Skills*/
section.hobbies{}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
    width: auto;
}

.skills__title{
    align-self: center;
    font-size: 30px;
    margin-top:1rem
}

.skills__line{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-self: center;
    padding: 20px 10px 10px 10px;
    background-color: var(--cor-de-extra);
    border-radius: 10px;
    margin-top: 1rem;   
}

.skills__box{
    flex-basis: auto;
    text-align: center;   
    
}

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    width: auto;
}
.hobbies__title{
    align-self: center;
    font-size: 30px;
    margin-top:1rem;
}

.hobbies__line{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    align-self: center;
    padding: 20px 10px 10px 10px;
    background-color: var(--cor-de-extra);
    border-radius: 10px;
    margin-top: 1rem; 
}


/* Experiencia Académica*/

section.academic{}

.academic{
    width: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.academic__title{
    align-self: center;
    font-size: 30px;
    margin-top:1rem;
}

.academic__courses__box{
    width: auto;
    display: inline-flex;
    padding: 40px;
    align-content: space-between;
}

.academic__courses__list img{
    width: 190px;
}


/* Experiencia Profesional*/
section.experience{ }

.experience{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
   }

.experience__section__title{
    align-self: center;
    font-size: 30px;
    margin-top:1rem;

    /*Formato a la Caja Flexible*/
}
.experiencie__box{         
    display:flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom:1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    background-color: var(--cor-de-extra);
     
}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.experience__description button{
 margin:10px;
 padding: 10px;
 border-radius: 5px;
 background: #1e1ef3ab;
 color: #F5F5F5;
}

.experience__description button:hover{
    background: #91e7d9;
    color: #000;
}

.experiencie__box img{
    width: 500px;
    padding-right: 20px;
    
}

.experience__box{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}

.experience__box img{
    width: 500px;
    padding-right: 20px;
}

.experience__info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.experience__description button{
 margin:10px;
 padding: 10px;
 border-radius: 5px;
 background: #1e1ef3;
 color: #F5F5F5;
}

.experience__description button:hover{
    background: #91e7d9;
    color: #000;
}

.experiencie__box img{
    width: 500px;
    padding-right: 20px;
    
}

.experience__box{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}

.experience__box img{
    width: 500px;
    padding-right: 20px;
}

.experience__info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}


/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet (se va a mostrar cuando los dispotivos tengas al menos 768px ancho)*/
@media (max-width: 768px) {
    .menu .menu__list{ 
        display:none}

    .menu__list__item__contato{
            display: flex;
            visibility: visible;}
/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/


}

/*Mobile*/
@media (min-width: 425px) {
    
    
/*Menu*/



/*Titulo*/

/*Sección sobre mi*/

/*.about__paragraph{
    flex-direction: column ;
    position: center;
    font-size: 20px;
    color: var(--cor-de-link);
    gap: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center; */

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}